

.container_sidebyside {
    margin-left: auto;
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 35px;
}
.container_flex_center{
  margin-top:"25px";
  display:"flex";
  justify-content: "center";
  align-items: "flex-start";
}
.description,
.card-description,
.footer-big p {
  color: #525252;
  font-weight: 300;
}

.headshot{
    border-radius: 50px;
}